/* escribimos un punto antes de escribir el nombre de la clase */
.titulo-h1{
    color:aqua;
}
.titulo-h2{
    color:bisque;
}
.ingresar{
    color:blue;
}
.boton{
    color:blueviolet;
}
.un_parrafo{
    color:greenyellow;
}