* {
    padding: 0px;
    margin: 0px;
}
.contact-form {
    font-size: 50px;
    color:white;
    background-color: #000;
    /* width:100vw; */ /* Toda la pantalla */
    width:50vw; /* 50% de la pantalla */
    height: 50vh; /* 50% de la pantalla */
    /* Tambien tenemos porcentajes. Por ejemplo */
    /*
    width:50%;
    height:50%;
    Si esta adentro de una caja es el 50% de la caja. Osea el box model
    */
}