/*
Display Block, Inline, Inline-block
*/
* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
}
div {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 10px solid red;
    background: yellow;
    /* la propiedad por defecto de los DIVs es display: block */
    /*display: block; por default esta en esta propiedad */
    display: inline; /* se ponen en una linea, no se puede modificar el ancho y el alto por que solo esta el contenido */
    display: inline-block; /* se colocan las cajas en una linea. Una a lado de otra */
    
}
b {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 10px solid rgb(89, 0, 255);
    background:rgb(0, 255, 234);
    /* si intento modificar el ancho y el alto de la caja pasa lo siguiente */
    width: 100px;
    height: 100px;
    /* exacto no pasa nada, por que por default es un display: inline */
    /* ahora cambio el inline por un block */
    display: block;
    /* ahora si se cambia */
    /* si le cambiamos de block por inline-block el texto se pone uno a lado de otro */
    /* tambien podemos cambiar el tamaño en inline-block como en block */
    /* display: inline-block; */
}