/*
OVERFLOW: (X, Y)
AUTO, HIDDEN, SCROLL
*/
* {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 40px;
}
div {
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 350px;
    border: 4px solid red;
    background: grey;
    /* la propiedad por defecto es visible deja que el texto se sobresalga */
    /* la siguiente propiedad es: auto */
    /* esta propiedad detecta que si el contenido sobrepase la caja nos da la posiblidad de scrolear el contenido */
    /*overflow: auto;*/
    /* la siguiente propiedad es: scroll */
    /* esta propiedad pone las barras scroll abajo y al costado asi no sea necesario scrollear */
    /*overflow: scroll;*/
    overflow-y: hidden; /* scroll*/
    overflow-x: scroll; /* hidden */
}
